.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--m);

  .tableWrapper {
    display: flex;
    height: 100%;
    overflow-y: auto;
    padding: 1px;
    margin-right: -20px;
    padding-right: 21px;
  }

  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-1);
    overflow: hidden;
  }

  .thead {
    background-color: var(--color-input-background);
    border-bottom: 1px solid var(--color-border);
  }

  .tbody {
    display: flex;
    flex-direction: column;
  }

  .tr {
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: var(--m-xs);
    padding: var(--m-xs);
    border-bottom: 1px solid var(--color-border);
    align-items: start;

    &:last-child {
      border-bottom: none;
    }
  }

  .th {
    font-weight: 600;
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    padding: var(--m-xs);
    display: flex;
    align-items: center;
    gap: var(--m-xxxxs);

    .required {
      color: var(--color-error);
    }
  }

  .td {
    display: flex;
    align-items: center;
    padding: var(--m-xxxxs);

    .input {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--m);

    .actionsRight {
      display: flex;
      align-items: center;
      gap: var(--m);
    }

    .errorContainer {
      display: flex;
      justify-content: center;
      max-width: 60vw;
    }
  }
}

